body {
    width:100%;;
    height: 100vh;
    margin:0;
    padding:0;
  }

 
  #title{
    background-color: #212121;
    color: white;

    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0%;
   
    text-align: center;
    font-size: 80px;
    font-family: SilkaMono-Regular;
  }

  #wrapper {
    background-color: white;
    display: flex;
    justify-content: center;  

    margin: 0%;
    
  }

  #potrait{
    border-color: #212121;
    border-style: solid;
    border-width: 16px;

    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 70px;

    width: 35%;
    height: auto;
  }

  #introduction{

    font-size: 50px;
    color: #212121;
    text-align: center;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10%;
    
    font-family: Trap-SemiBold;
  }

  #morse{
    color: white;
    font-size: 130%;
    margin-top: 30px;
    margin-right: 10%;
  }

  #translate{
    border-color: white;
    border-style: solid;
    border-width: 3px;

    color: white;
    text-decoration: none;

    text-align: center;
    font-size: 170%;
    font-family: Trap-SemiBold;

    margin-top: 50px;
    margin-right: 170px;
    margin-left: auto;

    padding: 5px;
  }

  a:visited {
    color: #212121;
  }
  
  a:active {
    color: white;
  }


  @font-face {
    font-family: Trap-SemiBold;
    src: url('Trap-SemiBold.otf');
}
  
  @font-face {
    font-family: SilkaMono-Regular;
    src: url('SilkaMono-Regular.otf');
  }
